@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
	background-image: linear-gradient(0deg, #c71ac7 20%,  #711AC7 65%, #c71ac7 94%);
	color: white;
	font-family: 'Baloo 2', cursive;
}

#header-area{
   box-sizing: border-box;
   height: 126px;
   width: 100%;
   position: relative;
   font-family: 'Lobster', cursive;
  
}

#header-area > *{
	position: absolute;
	
}

 #header-area  h2, a{
 	top: 35%;
	display: inline;
	font-size: 36px;
}

 #header-area a {
	color: inherit;
	text-decoration: none;
}


#header-area a:hover {
	color: #C7C71A;
	text-shadow: 0 0 30px #C7C71A, 0px 1px 0 black;
}


#arrendador{
	left: 4%;
}

#publicar{
	left: 21%;
}

#arrendatario{
	right: 13.5%;
}

#header-area  a {
	right: 5%;
}

#header-logo-div{ 
	 top: 50%;
	 transform: translateY(-50%);
	 right: 50%;
	 transform: translate(50%, -50%);
	 display: inline-block;

}

#header-logo-div > i{
	font-size: 55px;
	margin-right: .15em;
}

#header-title{
	display: inline;
 	font-size: 65px;
}

#search-form-area{
	width: 100%;
	height: 35em;
	margin: 0px 0px 20px;
	display: flex;
	align-items: center;
	justify-content: center; 
	background-image: url("./img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 6px white;
	text-align: center;
}

#search-form{
	height: 60%;
	padding: 40px 40px 0px 40px;
	display: inline-block;
	background: rgb(59, 51, 59, .96);
	border: 1px solid #ada0ad;
	border-radius: 5px;
	color: white;
}

#search-form > legend{
	font-size: 22px;
}

#radio-btn-container{
	margin: 20px auto 25px 10px;
	text-align: left;
}

.radio-option{
	margin-bottom: 15px;
	font-size: 18px;
}

.radio-label{
	margin-left: 15px;
}

#submit{
	width: 190px;
	height: 40px;
	margin-top: 25px;
	background-color: transparent;
	color: inherit;
	font-family: 'Baloo 2', cursive;
	font-size: 1.1em;
}

#item-area{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px;
	text-align: center;
}


.item{
	display: block;
	width: 44em;
	height: 185px;
	text-align: left;
	box-sizing: border-box;
	margin: 20px auto;
	padding: 1.09em; /*17.5px entre 16px (rem) da 1.09*/
	background: rgb(255, 209, 255);

	border: 3.5px solid #FF9EFF;
	border-radius: 6px;
	position: relative;
}



.item-img-container{
	display: inline-block;
	height: 9.375rem; /*150px entre 16px (rem) da 9.375em */
	width: 9.375rem;

}

.item-img{
	width: 9.375em;
	height: 9.375em;
	border-radius: 2px;

}


.item-legends-container{
	display: inline-block;
	/*El width lo calculé tomando en cuenta el width del parent, 
	su padding right y lef, y el tamaño de la imagen*/
	width: 31em;
	vertical-align: top;

}

.item-legends-container > legend{
	color:#006ad3;
	
}

.item-legends-container > #tipo {
	display: inline-block;
	width: 7em;
	margin-left: 1em;
	text-align: center;
	background: #FF9EFF;
	color: white;
	border-radius: 8%;
	font-size: 1.1em;

	
}

.item-legends-container > #precio-x-dia{
	display: inline-block;
	margin-left: 10.7em;
	font-size: 1.15em;
	font-style: italic;
	text-align: right;
	color:#006ad3;

}


.item-legends-container > #titulo {
	text-align: center;
	margin-top: .9em;
	font-size: 1.4em;
	font-weight: 700;
	color:#006ad3;
}








