@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
	background: #c71ac7;
	color: white;
	font-family: 'Baloo 2', cursive;
}

#header-area{
   box-sizing: border-box;
   height: 126px;
   width: 100%;
   position: relative;
   font-family: 'Lobster', cursive;
  
}

#header-area > *{
    position: absolute;
    
}

 #header-area  h2, a{
    top: 35%;
    display: inline;
    font-size: 36px;
}

 #header-area a {
    color: inherit;
    text-decoration: none;
}


#header-area a:hover {
    color: #C7C71A;
    text-shadow: 0 0 30px #C7C71A, 0px 1px 0 black;
}


#arrendador{
    left: 4%;
}

#publicar{
    left: 21%;
    text-decoration: underline;
}

#arrendatario{
    right: 13.5%;
}

#header-area  a {
    right: 5%;
}

#header-logo-div{ 
     top: 50%;
     transform: translateY(-50%);
     right: 50%;
     transform: translate(50%, -50%);
     display: inline-block;

}

#header-logo-div > i{
    font-size: 55px;
    margin-right: .15em;
}

#header-title{
    display: inline;
    
}

#header-title a{
    font-size: 65px;
}

main{
	margin: 50px 90px 50px 80px;
}

main > h1{

}

main > #precio-x-dia{

	text-align: right;
}

#img-container{
	margin-top: 10px;
	text-align: center;
}

#img-container > img{
	width: 36em;
	height: 36em;
	margin: 25px 35px;
	border: 3px solid white;
	border-radius: 4px;
}

#descripcion-area{
	margin: 10px 60px auto;
}

#descripcion{
	background: #ffd1ff;
	border: 2px solid white;
	border-radius: 3px;
	padding: 14px;
	color: #3B333B;
}

#descripcion > p {
	font-size: 1.32em;
}

#precio-total-calc{
	display: flex;
	justify-content: space-around;
	margin: 65px 85px;

}

.precio-total-div{
	display: inline-block;
	text-align: center;
}

.precio-total-div > label{
	display: block;
	font-size: 1.9rem;
	font-weight: bold;

}

.precio-total-div > input{
	height: 1.5em;
	margin-top: .15em;
	background: #ffd1ff;
	border: 2px solid white;
	border-radius: 7px;
	font-size: 1.9rem;
	color: #3B333B;
	text-align: center;
}

.precio-total-div > input[type=number] {
	width: 2em;
	
	}

	/*Los códigos de abajo sirven para quitarle las flechas a los inputs
	numbers tanto en Firefox como en otros navegadores.
	Los coloco separados del código de arriba para diferenciarles*/

	/* Firefox */
.precio-total-div >	input[type=number] {
	 -moz-appearance: textfield;
	}

	/* Chrome, Safari, Edge, Opera */
.precio-total-div > input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
	}

.precio-total-div >	input[type=text] {
	width: 5em;
}

#precio-total-form> input[type=button] {
	display: block;
	width: 14rem;
	height: 2.9rem;
	background: #1AC71A;
	margin: 0 auto;
	font-size: 1.7rem;
	color: white;
	border: 2px outset #30E430;
	border-radius: 12px;
}
