@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body{
	background: #C71AC7;
}
.reg{
	width: 100vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Baloo 2', cursive;
	border-radius: 10px;
}
.reg form{
	background: #3B333B;
	padding: 70px;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1rem;
	border-radius: 3px;
	font-family: 'Baloo 2', cursive;
	border-radius: 20px;
}
.reg button{
	grid-column:1 /span 2;
	margin: 2rem auto 0;
	padding: .5rem 2rem;
	border:2px solid white;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}
.reg button:hover{
	background: none;
	color: white;
	border-radius: 20px;
}
h2{
	font-size: 50px;
	font-family: 'Lobster', cursive;
}