	@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html{
	--sidebarcolor: #3b333b;
	--navbarcolor: #c43bc4;
	--publicolor: #c71ac7;
	--footercolor: rgba(0,0,0,.5);
	--postcolor: rgba(255, 209, 255, 100);
	--hoverover: #FFD1FF;
	--enespera: rgba(212, 188, 34, 100);
	--procesando:rgba(14, 71, 242, 100);
}

html, body {
	height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;	
}

body {
	
	background-image: linear-gradient(0deg, #c71ac7 20%,  #711AC7 65%, #c71ac7 94%);
	color: white;
	font-family: 'Baloo 2', cursive;
	
}

/*HEADER*/
#header-area{
   box-sizing: border-box;
   height: 126px;
   width: 100%;
   position: relative;
   font-family: 'Lobster', cursive;
  
}

#header-area > *{
	position: absolute;
	
}

 #header-area  h2, a{
 	top: 35%;
	display: inline;
	font-size: 36px;
}

 #header-area a {
 	right: 5%;
	color: inherit;
	text-decoration: none;
}


#header-area a:hover {
	color: #C7C71A;
	text-shadow: 0 0 30px #C7C71A, 0px 1px 0 black;
}


#arrendador{
	left: 4%;
	text-decoration: underline;
}

#publicar{
	left: 21%;
}

#arrendatario{
	right: 13.5%;
}


#header-logo-div{ 
	 top: 50%;
	 transform: translateY(-50%);
	 right: 50%;
	 transform: translate(50%, -50%);
	 display: inline-block;

}

#header-logo-div > i{
	font-size: 55px;
	margin-right: .15em;
}

#header-title{
	display: inline;
 	
}

#header-title a{
	font-size: 65px;
}
/*SIDEBAR*/
#sidebar{
		display: inline-block;
		height: 130%;
		width: 22%;
		padding: 2em 2.5em;
		text-align: left;
		vertical-align: top;
		border-radius: 2px;
		background-color: var(--sidebarcolor);
	}

#sidebar > ul {
	margin-top: 16em;

}


#sidebar > ul > li{
	display: block;
	font-size: 1.5em;

}

#sidebar > ul > li:nth-child(2){
	color: var(--postcolor);
}


.administracion_renta {
	display: inline-block;
	width: 77%;
	height: 100%;
	text-align: center;
	

}

.contenedor_solicitud {
	box-sizing: border-box;
	width: 49em;
	margin: 1.5em auto;
	text-align: left;
	border-radius: 2px;
	background: var(--postcolor);
	}



.sol_status {
	width: 100%;
	text-align: center;
	border-radius: 2px;
	font-size: 1.2em;
	color: var(--sidebarcolor);

}

#solicitud_renta{
	background: #D1FFD1;
}	

#renta_espera{
	background: #FFFFD1;
}

#renta_activa{
	background: #D1FFFF;
}


.sol_lower_body{
	height: 15.5em;
	color: var(--sidebarcolor);
	position: relative;
	
}

.post_data_con, .abv_fst_inner_sol  {
	position: absolute;
	top: 12%;
	
}

.post_data_con{
	left: 6%;
	display: flex;
}


.abv_fst_inner_sol{
	right: 7%;
}

.post_photo, .user_photo{
	width: 8.5rem;
	height: 8.5rem;
	border-radius: 2px;
}

.post_specifics_con {
	font-size: 1.2em;
	margin-left: 1.2em;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.user_cred_cont {
	display: flex;		
	}

.button_con {
	text-align: center;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	}

.button_con > button{
	font-size: 1.1em;
	padding: .5em;
	margin-bottom: .4em;
	border-radius: 6px;
	border: 3px outset var(--postcolor);
	background-color: #FF9EFF;
}

.button_con > #accept{
	margin-right: .2em;
}


	
.pagefooter {
		background-color: var(--footercolor);
	}
	
	
	

