@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Baloo 2', cursive;
    color: white;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(0deg, #c71ac7 20%,  #711AC7 65%, #c71ac7 94%);
}

#header-area{
   box-sizing: border-box;
   height: 126px;
   width: 100%;
   position: relative;
   font-family: 'Lobster', cursive;
  
}

#header-area > *{
    position: absolute;
    
}

 #header-area  h2, a{
    top: 35%;
    display: inline;
    font-size: 36px;
}

 #header-area a {
    color: inherit;
    text-decoration: none;
}


#header-area a:hover {
    color: #C7C71A;
    text-shadow: 0 0 30px #C7C71A, 0px 1px 0 black;
}


#arrendador{
    left: 4%;
}

#publicar{
    left: 21%;
    text-decoration: underline;
}

#arrendatario{
    right: 13.5%;
}

#header-area  a {
    right: 5%;
}

#header-logo-div{ 
     top: 50%;
     transform: translateY(-50%);
     right: 50%;
     transform: translate(50%, -50%);
     display: inline-block;

}

#header-logo-div > i{
    font-size: 55px;
    margin-right: .15em;
}

#header-title{
    display: inline;
    
}

#header-title a{
    font-size: 65px;
}


#form-box{
    box-sizing: border-box;
    width: 36em;
    margin: 3% auto 10%;
    text-align: center;
    padding: 3% 7% 4%;
    font-size: 1.5em;
    background-color: rgb(59,51,59,.95);
    border-radius: 10px;
}

#formulario_publicacion{
    font-size: 1.3em;
}

#form-box > form{
    margin-top: 1.9em;
    text-align: left;
}


/*Los códigos de abajo sirven para quitarle las flechas a los inputs
    numbers tanto en Firefox como en otros navegadores.
    Los coloco separados del código de arriba para diferenciarles*/

    /* Firefox */
#form-box > form > div > input[type=number] {
     -moz-appearance: textfield;
    }

    /* Chrome, Safari, Edge, Opera */
#form-box > form > div>  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
    }

form > div{
    width: 100%;
    margin: 20px 0;
    
}

form > div>  .left{
    display: inline-block;
    width: 45%;
    margin-right: 2px;
    
}

form > div > .right{
    display: inline-block;   
}

/*Antes el width estaba en el selector de arriba, pero eso impedia que los inputs
abarcaran el 100% de espacio, por lo que opté por colocar el width directamente
en los elementos, mediante el selector de abajo */
form input, select, textarea {
     width: 52%;
     font-family: 'Baloo 2', cursive;
     border-radius: 7px; 

}

form > input[type=submit]{
    display: block;
    width: 6em;
    margin: 4em auto 0;
    background: #1AC71A;
    border: 2px outset #30E430;
    font-size: 1.3em;
  
}






