@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
	background: #c71ac7;
	margin: 10px 0px;
	color: white;
	font-family: 'Baloo 2', cursive;
}

#header-area{
   position: relative;
   width: 100%;
}

#header-button-container{

	margin: 0px 10px;
	display : inline-block;
}

.header-button{
	display: block;
	font-size: 20px;
	width: 120px;
	height: 38px;
	margin-top: 5px;
	color: white;
	border-color: transparent;
	background: #3B333B;
}

#header-logo-div{ 
 position: absolute;
 right: 50%;
 top: 50%;
 transform: translate(50%, -50%);
 display: inline-block;

}

#header-logo-div > i{
	font-size: 55px;
	margin-right: .15em;
}

#header-title{
	display: inline;
	font-family: 'Lobster', cursive;
 	font-size: 65px;


}

#search-form-area{
	width: 100%;
	height: 35em;
	margin: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: center; 
	background-image: url("./img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#search-form{
	height: 60%;
	padding: 40px 40px 0px 40px;
	display: inline-block;
	background: rgb(59, 51, 59, .96);
	border: 2px solid #c71ac7;
	border-radius: 5px;
	color: white;
}

#search-form > legend{
	font-size: 22px;
}

#radio-btn-container{
	margin: 20px auto 25px 10px;
	text-align: left;
}

.radio-option{
	margin-bottom: 15px;
	font-size: 18px;
}

.radio-label{
	margin-left: 15px;
}

#submit{
	width: 190px;
	height: 40px;
	margin-top: 25px;
	background-color: transparent;
	color: inherit;
	font-family: 'Baloo 2', cursive;
	font-size: 1.1em;
}

#item-area{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px;
	text-align: center;

}

.item{
	display: inline-block;
	width: 47%;
	height: 185px;
	box-sizing: border-box;
	margin: 20px;
	padding: 17.5px;
	background: #ffd1ff;
	border-radius: 3px;
}

.item-img-container{
	display: inline-block;
	float: left;
	height: 150px;
	width: 150px;
	

}

.item-img{
	width: 150px;
	height: 150px;

}

.item-legends-container{
	height: 100%;
	
}

.item-legends-container > legend{
	color: #3B333B;
}

.item-legends-container > #tipo {
	text-align: left;
	margin-left: 160px;
}

#precio-x-dia{
	margin-top: 3.5em;

}








