@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Baloo 2', cursive;
    color: white;
    width: 100%;
    text-align: center;
    background-color: rgb(197, 41, 197);
}

 legend {
    margin-top: 5%;
    font-size: 3.5em;
    font-weight: 900;

}

#form-box{
    width: 29em;
    height: 33em;
    margin: 3% auto 10%;
    text-align: center;
    padding: 4% 7%;
    font-size: 1.5em;
    background-color:rgb(59,51,59);
    border-radius: 10px;
}

#form-box > form{
    text-align: left;
}


/*Los códigos de abajo sirven para quitarle las flechas a los inputs
    numbers tanto en Firefox como en otros navegadores.
    Los coloco separados del código de arriba para diferenciarles*/

    /* Firefox */
#form-box > form > div > input[type=number] {
     -moz-appearance: textfield;
    }

    /* Chrome, Safari, Edge, Opera */
#form-box > form > div>  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
    }

form > div{
    width: 100%;
    margin: 20px 0;
    
}

form > div>  .left{
    display: inline-block;
    width: 45%;
    margin-right: 2px;
    
}

form > div > .right{
    display: inline-block;   
}

/*Antes el width estaba en el selector de arriba, pero eso impedia que los inputs
abarcaran el 100% de espacio, por lo que opté por colocar el width directamente
en los elementos, mediante el selector de abajo */
form input, select, textarea {
     width: 52%;
     font-family: 'Baloo 2', cursive;
     border-radius: 7px; 

}

form > input[type=submit]{
    display: block;
    width: 6em;
    margin: 4em auto 0;
    background: #1AC71A;
    border: 2px outset #30E430;
    font-size: 1.3em;
  
}






